# This is an example of .env. 
# Clone it, rename into .env and change password if you need.

POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=your_new_password
POSTGRES_DB_NAME=sofastream
SERVER_IP=localhost